.sangue-doado-container {
    background-color: #b92c37;
    padding: 9.9%;
}

.row {
    display: flex;
    flex-direction: row;
    background-color: white;
    padding: 4%;
    border-radius: 15px;
    justify-content: center;
    align-items: center;
    margin-left: 400px;
    margin-right: 400px;
}

.column{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 20px;
}

.column #linha{
    background-color: rgb(217, 217, 217);
    margin: 15px;
    padding: 20px;
    border-radius: 20px;
}

#divisor{
    height: 400px;
    padding: 0.5px;
    border-radius: 100px;
    background-color: black;
    margin: 5px;
}