.navBar-tela-s{
    background-color: #F1E2DA;
    justify-content: space-around;
    align-items: center;
    color: whitesmoke;
    padding: 10px;
    display: flex;
    margin-top: 0;
}

.home-tela-s {
    display: inline-block;
    background-color: #F1E2DA; /* Cor de fundo do botão (bege) */
    color: #b92c37; /* Cor do texto (vermelho) */
    padding: 15px 30px; /* Espaçamento interno */
    font-size: 20px; /* Tamanho da fonte */
    border-radius: 5px; /* Bordas arredondadas */
    text-decoration: none; /* Sem sublinhado */
    transition: background-color 0.3s, transform 0.3s; /* Transições suaves */
    justify-content: center;
    margin-top: 7px;
}

.home-tela-s:hover {
    background-color: #c9302c; /* Cor ao passar o mouse */
    color: white; /* Mudando a cor da fonte para branco quando passar o mouse */
    transform: scale(1.05); /* Leve aumento de tamanho */
}

.link1-tela-s {
    display: inline-block;
    background-color: #F1E2DA; /* Cor de fundo do botão (bege) */
    color: #b92c37; /* Cor do texto (vermelho) */
    padding: 15px 30px; /* Espaçamento interno */
    font-size: 20px; /* Tamanho da fonte */
    border-radius: 5px; /* Bordas arredondadas */
    transition: background-color 0.3s, transform 0.3s; /* Transições suaves */
    justify-content: center;
    margin-top: 8px;
}

.link1-tela-s:hover {
    background-color: #c9302c; /* Cor ao passar o mouse */
    color: white; /* Mudando a cor da fonte para branco quando passar o mouse */
    transform: scale(1.05); /* Leve aumento de tamanho */
}

.link2-tela-s {
    display: inline-block;
    background-color: #F1E2DA; /* Cor de fundo do botão (bege) */
    color: #b92c37; /* Cor do texto (vermelho) */
    padding: 15px 30px; /* Espaçamento interno */
    font-size: 18px; /* Tamanho da fonte */
    border-radius: 5px; /* Bordas arredondadas */
    text-decoration: none; /* Sem sublinhado */
    transition: background-color 0.3s, transform 0.3s; /* Transições suaves */
    margin-top: 10px;
}

.link2-tela-s:hover {
    background-color: #c9302c; /* Cor ao passar o mouse */
    color: white; /* Mudando a cor da fonte para branco quando passar o mouse */
    transform: scale(1.05); /* Leve aumento de tamanho */
}

.link3-tela-s {
    display: inline-block;
    background-color: #F1E2DA; /* Cor de fundo do botão (bege) */
    color: #b92c37; /* Cor do texto (vermelho) */
    padding: 15px 30px; /* Espaçamento interno */
    font-size: 18px; /* Tamanho da fonte */
    border-radius: 5px; /* Bordas arredondadas */
    text-decoration: none; /* Sem sublinhado */
    transition: background-color 0.3s, transform 0.3s; /* Transições suaves */
    margin-top: 10px;
}

.link3-tela-s:hover {
    background-color: #c9302c; /* Cor ao passar o mouse */
    color: white; /* Mudando a cor da fonte para branco quando passar o mouse */
    transform: scale(1.05); /* Leve aumento de tamanho */
}

.link4-tela-s {
    display: inline-block;
    background-color: #F1E2DA; /* Cor de fundo do botão (bege) */
    color: #b92c37; /* Cor do texto (vermelho) */
    padding: 15px 30px; /* Espaçamento interno */
    font-size: 18px; /* Tamanho da fonte */
    border-radius: 5px; /* Bordas arredondadas */
    text-decoration: none; /* Sem sublinhado */
    transition: background-color 0.3s, transform 0.3s; /* Transições suaves */
    margin-top: 10px;
}

.link4-tela-s:hover {
    background-color: #c9302c; /* Cor ao passar o mouse */
    color: white; /* Mudando a cor da fonte para branco quando passar o mouse */
    transform: scale(1.05); /* Leve aumento de tamanho */
}

.perfil-tela-s {
    width: 70px;
    height: 70px;
    display: flex;
    margin-top: 10px;
}

/* Estilo do h1 */
/*h1 {
    color: #b92c37; 
    background-color: #F1E2DA; 
    font-size: 36px; 
    padding: 20px; 
    border-radius: 10px; 
    text-align: center; 
    margin: 20px 0; 
}*/

.h2-navbar-tela-s {
    color: #b92c37;
    font-size: 35px;
    margin-top: 10px;
    margin-right: 10px;
}
